# SPDX-License-Identifier: BSD-3-Clause
# Copyright (c) 2023 Marvell.

---
BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakStringLiterals : false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
BreakBeforeBraces: Linux
AllowShortBlocksOnASingleLine: false
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Right
AlignConsecutiveMacros : true
MaxEmptyLinesToKeep : 1
Cpp11BracedListStyle : true
AlignTrailingComments : true
BreakBeforeTernaryOperators : false
SpacesInContainerLiterals : false
ReflowComments: true
IndentGotoLabels : false
